<div class="container-card shadow" dir="rtl">
  <div class="container">
    <h3 class="question-number mt-4">السؤال رقم {{ index }}</h3>
    <h2 class="text-center question mt-3">{{ currrentQuestion.content }}</h2>
    <div class="d-flex justify-content-center m-4">
      <div
        class="small-card-blue shadow-sm"
        *ngFor="let question of currrentQuestion.answers; let i = index"
        [ngClass]="{
          'small-card-blue': i % 2 == 0,
          'small-card-orange': i % 2 != 0
        }"
      >
        {{ question.content }}
      </div>
    </div>
    <hr />
    <div class="d-flex justify-content-between mt-4 me-4 ms-4">
      <div>
        <h4>الفريق 1</h4>
        <div class="inline-block d-flex align-items-center">
          <div class="circle-blue"></div>
          <span class="score">{{ rightTeam.blueScore }}</span>
        </div>

        <div class="inline-block d-flex align-items-center">
          <div class="circle-orange"></div>
          <span class="score">{{ rightTeam.orangeScore }}</span>
        </div>
      </div>
      <div class="inline-block d-flex align-items-center">
        <h1 class="final-score">{{ questionsService.rightTeamTotalScore }}</h1>
        <div class="vl"></div>
        <h1 class="final-score">{{ questionsService.leftTeamTotalScore }}</h1>
      </div>
      <div>
        <h4>الفريق 2</h4>
        <div class="inline-block d-flex align-items-center">
          <div class="circle-blue"></div>
          <span class="score">{{ leftTeam.blueScore }}</span>
        </div>
        <div class="inline-block d-flex align-items-center">
          <div class="circle-orange"></div>
          <span class="score">{{ leftTeam.orangeScore }}</span>
        </div>
      </div>
    </div>
    <!-- <div class="result d-flex justify-content-center"></div> -->
    <!-- <div class="d-flex justify-content-end mt-4">
    <button class="btn btn-primary custom-btn" (click)="changeParams()">
      التالي
    </button>
  </div> -->
  </div>
</div>
<!-- 
<svg
  id="rocket"
  xmlns="http://www.w3.org/2000/svg"
  width="101.678"
  height="101.678"
  viewBox="0 0 101.678 101.678"
>
  <title>Rocket Ship</title>
  <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
    <circle
      id="Ellipse_8"
      data-name="Ellipse 8"
      cx="50.839"
      cy="50.839"
      r="50.839"
      transform="translate(141 696)"
      fill="#dd0031"
    />
  </g>
</svg> -->
