<div class="container-card shadow text-center" dir="rtl">
  <div class="container">
    <img
      src="../../../assets/Logo-2.png"
      class=""
      alt=""
      width="250px"
      height="250px"
    />
    <div class="d-flex justify-content-center align-items-center">
      <h1 class="final-score">{{ questionsService.rightTeamTotalScore }}</h1>
      <div class="vl"></div>
      <h1 class="final-score">{{ questionsService.leftTeamTotalScore }}</h1>
    </div>
    <h1 class="text-center text-success">النهاية!</h1>
  </div>
</div>
